.board {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    aspect-ratio: 1;
    border: solid 1px black;
}

.winner, .draw {
    grid-column: 1 / 4;
    grid-row: 1 / 4;
}

.board svg {
    height: 100%;
    max-width: 100%;
}

.board svg text {
    dominant-baseline: central;
    text-anchor: middle;
}
