html {
    height: 100%;
}

body {
    display: inline-block;
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: sans-serif;
    text-align: center;
}

#root {
    display: inline-block;
    height: 100%;
    width: 100%;
}

.status, .ui-button {
    font-size: 20px;
}

.ui-button {
    padding: 4px 12px;
}

.error {
    color: red;
}
