.board {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-items: center;
    width: 144px;
    height: 144px;
    margin: auto;
    border: solid 1px black;
}

.winner, .draw {
    grid-column: 1 / 4;
    grid-row: 1 / 4;
}

.winner {
    font-size: 120px;
}

.draw {
    font-size: 32px;
}
