.local-super-game .super-board {
    justify-content: center;
}

@media (orientation: landscape) {
    .local-super-game .super-board {
        grid-template-columns: repeat(3, calc((100vh / 3) - 80px));
    }
}

@media (orientation: portrait) {
    .local-super-game .super-board {
        grid-template-columns: repeat(3, calc((100vw / 3) - 16px));
    }
}
