.super-game-room {
    display: inline-block;
}

.game-container {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    gap: 20px;
}

/* Portrait */

@media (orientation: portrait) {
    .game-container {
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        padding-bottom: 20px;
    }
}
